<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Material</h4>
                <h6 class="card-subtitle">Actualizar informacion</h6>
                <form class="form-horizontal p-t-20" [formGroup]="materialForm" (submit)="guardarMaterial()">

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Nombre material</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" formControlName="nombre_material" class="form-control" id="exampleInputuname" placeholder="Nombre material">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Cantidad material</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" formControlName="cantidad_material" class="form-control" id="exampleInputuname" placeholder="Cantidad material">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Precio material</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" formControlName="precio_material" class="form-control" id="exampleInputuname" placeholder="Precio material">
                            </div>
                        </div>
                    </div>



                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" [disabled]="materialForm.invalid" class="btn btn-success waves-effect waves-light m-r-10">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>