<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Proyecto</h4>
                <form class="form-horizontal p-t-20" [formGroup]="proyectoForm" (submit)="guardarProyecto()">

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Nombre del proyecto</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="nombre_proyecto" class="form-control" id="exampleInputuname" placeholder="Nombre del proyecto">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Departamento</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="departamento" class="form-control" id="exampleInputuname" placeholder="Departamento">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Direccion</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="direccion" class="form-control" id="exampleInputuname" placeholder="Direccion">
                            </div>
                        </div>
                    </div>


                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" [disabled]="proyectoForm.invalid" class="btn btn-success waves-effect waves-light m-r-10">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>