<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Presupuesto</h4>
                <form class="form-horizontal p-t-20" [formGroup]="presupuestoForm" (submit)="guardarPresupuesto()">

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Presupuesto total</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="presupuesto_total" class="form-control" id="exampleInputuname" placeholder="Presupuesto total">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Presupuesto precio unitario</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="presupuesto_precio_unitario" class="form-control" id="exampleInputuname" placeholder="Presupuesto precio unitario">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Utilidad</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="utilidad" class="form-control" id="exampleInputuname" placeholder="Utilidad">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Iva</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="iva" class="form-control" id="exampleInputuname" placeholder="Iva">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">It</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="it" class="form-control" id="exampleInputuname" placeholder="It">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Actividad</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="actividad" class="form-control" id="exampleInputuname" placeholder="Actividad">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Unidad</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="unidad" class="form-control" id="exampleInputuname" placeholder="Unidad">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Codigo</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="codigo" class="form-control" id="exampleInputuname" placeholder="Codigo">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Numero</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="numero" class="form-control" id="exampleInputuname" placeholder="Numero">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Moneda</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="moneda" class="form-control" id="exampleInputuname" placeholder="Moneda">
                            </div>
                        </div>
                    </div>


                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" [disabled]="presupuestoForm.invalid" class="btn btn-success waves-effect waves-light m-r-10">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>