<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text" class="form-control" placeholder="Buscar presupuesto..." (keyup)="buscar(txtTermino.value)" #txtTermino>

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">

            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Presupuesto {{presupuestos.length}} </h4>
                        <h6 class="card-subtitle">Presupuesto registrados en mi aplicacion</h6>
                    </div>

                    <!-- <div class="col">
                        <div class="text-right">
                            <a class="btn btn-right btn-primary" routerLink="/dashboard/presupuestoc/nuevo">
                                <i class="fa fa-hospital-o"></i> Crear presupuesto
                            </a>
                        </div>
                    </div> -->

                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Presupuesto Total</th>
                                <th>Presupuesto de precio unitario</th>
                                <th>Utilidad</th>
                                <th>IVA</th>
                                <th>IT</th>
                                <th>Ver gasto</th>
                                <th>Ver item</th>

                                <th class="w100 text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let presupuesto of presupuestos">


                                <td> {{presupuesto.presupuesto_total}} </td>
                                <td> {{presupuesto.presupuesto_precio_unitario}} </td>
                                <td> {{presupuesto.utilidad}} </td>
                                <td> {{presupuesto.iva}} </td>
                                <td> {{presupuesto.it}} </td>
                                <td>
                                    <a class="btn btn-right btn-primary" [routerLink]="['/dashboard/gastov/', presupuesto.id]">
                                        <i class="fa fa-hospital-o"></i> Ver presupuesto
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-right btn-primary" [routerLink]="['/dashboard/itemv/', presupuesto.id]">
                                        <i class="fa fa-hospital-o"></i> Ver presupuesto
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-right btn-primary" [routerLink]="['/dashboard/gastoc/nuevo', presupuesto.id]">
                                        <i class="fa fa-hospital-o"></i> Crear gasto
                                    </a>
                                </td>

                                <td>
                                    <a class="btn btn-right btn-primary" [routerLink]="['/dashboard/itemc/nuevo', presupuesto.id]">
                                        <i class="fa fa-hospital-o"></i> Crear item
                                    </a>
                                </td>

                                <td class="text-nowrap text-center">
                                    <a [routerLink]="['/dashboard/presupuestoc', presupuesto.id]" class="cursor" data-toggle="tooltip" data-original-title="Guardar cambios"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a (click)="eliminarPresupuesto(presupuesto)" class="cursor" data-toggle="tooltip" data-original-title="Borrar"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div *ngIf="txtTermino.value.length === 0">
                    <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anteriores</button> &nbsp;
                    <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguientes</button>
                </div>
            </div>
        </div>
    </div>

</div>