<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Mano de Obra</h4>
                <h6 class="card-subtitle">Actualizar informacion</h6>
                <form class="form-horizontal p-t-20" [formGroup]="herramientaForm" (submit)="guardarHerramienta()">

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Nombre herramienta</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" formControlName="nombre_herramienta" class="form-control" id="exampleInputuname" placeholder="Nombre herramienta">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Tipo</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" formControlName="tipo" class="form-control" id="exampleInputuname" placeholder="Tipo">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Precio herramienta</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" formControlName="precio_herramienta" class="form-control" id="exampleInputuname" placeholder="Precio herramienta">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Cantidad herramienta</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" formControlName="cantidad_herramienta" class="form-control" id="exampleInputuname" placeholder="Cantidad herramienta">
                            </div>
                        </div>
                    </div>





                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" [disabled]="herramientaForm.invalid" class="btn btn-success waves-effect waves-light m-r-10">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>