<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Gasto</h4>
                <form class="form-horizontal p-t-20" [formGroup]="gastoForm" (submit)="guardarGastos()">

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Lugar</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="lugar" class="form-control" id="exampleInputuname" placeholder="Lugar">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Profecional</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="profesional" class="form-control" id="exampleInputuname" placeholder="Profecional">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Documentos legales</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="documentos_legales" class="form-control" id="exampleInputuname" placeholder="Documentos legales">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Costo garantia contratos</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="costo_garantia_contratos" class="form-control" id="exampleInputuname" placeholder="Costo garantia contratos">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Costo operacion</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="costo_operacion" class="form-control" id="exampleInputuname" placeholder="Costo operacion">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Costo administrativo</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="costo_administrativo" class="form-control" id="exampleInputuname" placeholder="Costo administrativo">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Gasto profecional especial</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="gasto_profecional_especial" class="form-control" id="exampleInputuname" placeholder="Gasto profecional especial">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Riesgo imprevisto</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="riesgo_imprevisto" class="form-control" id="exampleInputuname" placeholder="Riesgo imprevisto">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Movilizacion demolicion</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="movilizacion_demolicion" class="form-control" id="exampleInputuname" placeholder="Movilizacion demolicion">
                            </div>
                        </div>
                    </div>




                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" [disabled]="gastoForm.invalid" class="btn btn-success waves-effect waves-light m-r-10">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>