<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Item</h4>
                <form class="form-horizontal p-t-20" [formGroup]="itemForm" (submit)="guardarItem()">

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Descripcion</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="descripcion" class="form-control" id="exampleInputuname" placeholder="Descripcion">
                            </div>
                        </div>
                    </div>

                    <!-- <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Unidad</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="unidad" class="form-control" id="exampleInputuname" placeholder="Unidad">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Cantidad</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="cantidad" class="form-control" id="exampleInputuname" placeholder="Cantidad">
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="form-group row">
                        <label for="exampleInputuname" class="col-sm-3 control-label">Precio producto</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class=""></i></div>
                                <input type="text" formControlName="precio_producto" class="form-control" id="exampleInputuname" placeholder="Precio producto">
                            </div>
                        </div>
                    </div> -->



                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" [disabled]="itemForm.invalid" class="btn btn-success waves-effect waves-light m-r-10">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>