<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">

            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">PRESUPUESTO </h4>
                        <h6 class="card-subtitle">Presupuesto registrados en mi aplicacion</h6>
                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>DATOS GENERALES</th>
                            </tr>

                            <tr>
                                <th>Presupuesto Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0 </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Descripcion</th>
                                <th>Unidad</th>
                                <th>Cantidad</th>
                                <th>Precio Producto</th>
                                <th>Costo Total</th>
                            </tr>
                            <th>1. MATERIALES</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let material of materiales">
                                <td>{{material.nombre_material}}</td>
                                <td>material cantidad cada uno</td>
                                <td>{{material.cantidad_material}} </td>
                                <td>{{material.precio_material}}</td>
                                <td> {{totalMaterial}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Descripcion</th>
                                <th>Unidad</th>
                                <th>Cantidad</th>
                                <th>Precio Producto</th>
                                <th>Costo Total</th>
                            </tr>
                            <th>2. MANO DE OBRA</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let manoObra of manoObra">
                                <td>{{manoObra.cargo}}</td>
                                <td>material cantidad cada uno</td>
                                <td>{{manoObra.nro_personal}} </td>
                                <td>{{manoObra.sueldo}}</td>
                                <td> {{totalManoObra}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Descripcion</th>
                                <th>Unidad</th>
                                <th>Cantidad</th>
                                <th>Precio Producto</th>
                                <th>Costo Total</th>
                            </tr>
                            <th>3. EQUIPO, MAQUINARIA Y HERRAMIENTA</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let herramienta of herramientas">
                                <td>{{herramienta.nombre_herramienta}}</td>
                                <td>material cantidad cada uno</td>
                                <td>{{herramienta.cantidad_herramienta}} </td>
                                <td>{{herramienta.precio_herramienta}}</td>
                                <td> {{totalHerramienta}} </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>4. GASTOS GENERALES Y ADMINISTRATIVOS</th>
                            </tr>

                            <tr>
                                <th>Gastos generales</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> </td>
                                <td>{{total}}</td>
                                <td>{{(totalHerramienta + totalManoObra + totalMaterial)}}</td>
                                <td>
                                    {{(total/100) * (totalHerramienta + totalManoObra + totalMaterial)}}
                                </td>
                            </tr>



                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>5. UTILIDAD</th>
                            </tr>
                            <tr>
                                <th>Utilidad</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr *ngFor="let presupuesto of presupuestos">
                                <td> </td>
                                <td>{{presupuesto.utilidad}}</td>
                                <td>{{(totalHerramienta + totalManoObra + totalMaterial)+((total/100) * (totalHerramienta + totalManoObra + totalMaterial))}} </td>
                                <td>{{((totalHerramienta + totalManoObra + totalMaterial)+(total/100) * (totalHerramienta + totalManoObra + totalMaterial)) * (presupuesto.utilidad/100)}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>6. IMPUESTO</th>
                            </tr>
                            <tr>
                                <th>Impuesto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let presupuesto of presupuestos">
                                <td> </td>
                                <td>{{presupuesto.it}}</td>
                                <td>{{(totalHerramienta + totalManoObra + totalMaterial)+((total/100) * (totalHerramienta + totalManoObra + totalMaterial)) + (((totalHerramienta + totalManoObra + totalMaterial)+(total/100) * (totalHerramienta + totalManoObra
                                    + totalMaterial)) * (presupuesto.utilidad/100))}} </td>
                                <td>{{((totalHerramienta + totalManoObra + totalMaterial)+((total/100) * (totalHerramienta + totalManoObra + totalMaterial)) + (((totalHerramienta + totalManoObra + totalMaterial)+(total/100) * (totalHerramienta + totalManoObra
                                    + totalMaterial)) * (presupuesto.utilidad/100))) * (presupuesto.it/100)}}</td>
                            </tr>
                            <tr *ngFor="let presupuesto of presupuestos">

                                <td> TOTAL PRECIO UNITARIO </td>
                                <td></td>
                                <td></td>
                                <td> {{(totalHerramienta + totalManoObra + totalMaterial)+((total/100) * (totalHerramienta + totalManoObra + totalMaterial)) + (((totalHerramienta + totalManoObra + totalMaterial)+(total/100) * (totalHerramienta + totalManoObra
                                    + totalMaterial)) * (presupuesto.utilidad/100))+((totalHerramienta + totalManoObra + totalMaterial)+((total/100) * (totalHerramienta + totalManoObra + totalMaterial)) + (((totalHerramienta + totalManoObra + totalMaterial)+(total/100)
                                    * (totalHerramienta + totalManoObra + totalMaterial)) * (presupuesto.utilidad/100))) * (presupuesto.it/100)}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>