<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">

            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">PRESUPUESTO </h4>
                        <h6 class="card-subtitle">Presupuesto registrados en mi aplicacion</h6>
                        <button (click)="generatePDF(presupuestos, materiales, precioMaterial, totalMaterial, manoObra, sueldo, totalManoObra, cargaSocial, ivaMano, totalManoObra2, herramientas, precioHerramienta, totalHerramienta, preciosTotales)">Generate PDF</button>
                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <th>DATOS GENERALES</th>
                            <tr>
                                <th>Proyecto</th>
                                <th>Actividad</th>
                                <th>Unidad</th>
                                <th>Nro.</th>
                                <th>Codigo</th>
                                <th>Fecha</th>
                                <th>Moneda</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let presupuesto of presupuestos">
                                <td>{{presupuesto.proyecto.nombre_proyecto}}</td>
                                <td>{{presupuesto.actividad}}</td>
                                <td>{{presupuesto.unidad}}</td>
                                <td>{{presupuesto.numero}}</td>
                                <td>{{presupuesto.codigo}}</td>
                                <td>fecha</td>
                                <td>{{presupuesto.moneda}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Descripcion</th>
                                <th>Unidad</th>
                                <th>Cantidad</th>
                                <th>Precio Producto</th>
                                <th>Costo Total</th>
                            </tr>
                            <th>1. MATERIALES</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let material of materiales; let indice = index">
                                <td>{{material.nombre_material}}</td>
                                <td>{{material.unidad}}</td>
                                <td>{{material.cantidad_material}} </td>
                                <td>{{material.precio_material}}</td>
                                <td>{{precioMaterial[indice]}}</td>

                            </tr>
                            <td>Total Material</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> {{totalMaterial}} </td>
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Descripcion</th>
                                <th>Unidad</th>
                                <th>Cantidad</th>
                                <th>Precio Producto</th>
                                <th>Costo Total</th>
                            </tr>
                            <th>2. MANO DE OBRA</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let manoObra of manoObra; let indice = index">
                                <td>{{manoObra.cargo}}</td>
                                <td>hr</td>
                                <td>{{manoObra.nro_personal}} </td>
                                <td>{{manoObra.sueldo}}</td>
                                <td>{{sueldo[indice]}}</td>

                            </tr>
                            <tr>
                                <td>SubTotal Mano de Obra</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td> {{totalManoObra}} </td>
                            </tr>
                            <tr>
                                <td>Carga Social</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{cargaSocial}}</td>
                            </tr>
                            <tr>
                                <td>IVA</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{ivaMano}}</td>
                            </tr>
                            <tr>
                                <td>Total Mano de Obra</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{totalManoObra2}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Descripcion</th>
                                <th>Unidad</th>
                                <th>Cantidad</th>
                                <th>Precio Producto</th>
                                <th>Costo Total</th>
                            </tr>
                            <th>3. EQUIPO, MAQUINARIA Y HERRAMIENTA</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let herramienta of herramientas; let indice = index">
                                <td>{{herramienta.nombre_herramienta}}</td>
                                <td>hr</td>
                                <td>{{herramienta.cantidad_herramienta}} </td>
                                <td>{{herramienta.precio_herramienta}}</td>
                                <td>{{precioHerramienta[indice]}}</td>
                            </tr>
                            <tr>
                                <td>Total Herramienta</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td> {{totalHerramienta}} </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>4. GASTOS GENERALES Y ADMINISTRATIVOS</th>
                            </tr>

                            <tr>
                                <th>Gastos generales</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{total}} </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{(totalGasto2[0] + totalGasto2[1] + totalGasto2[2]).toFixed(2) }}</td>
                                <td>
                                    {{((total/100) * (totalGasto2[0] + totalGasto2[1] + totalGasto2[2])).toFixed(2)}}
                                </td>
                            </tr>



                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>5. UTILIDAD</th>
                            </tr>
                            <tr>
                                <th>Utilidad</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr *ngFor="let presupuesto of presupuestos">
                                <td> </td>
                                <td>{{presupuesto.utilidad}}</td>
                                <td>{{((totalGasto2[0] + totalGasto2[1] + totalGasto2[2])+((total/100) * (totalGasto2[0] + totalGasto2[1] + totalGasto2[2]))).toFixed(2)}} </td>
                                <td>{{(((totalGasto2[0] + totalGasto2[1] + totalGasto2[2])+(total/100) * (totalGasto2[0] + totalGasto2[1] + totalGasto2[2])) * (presupuesto.utilidad/100)).toFixed(2)}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>6. IMPUESTO</th>
                            </tr>
                            <tr>
                                <th>Impuesto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let presupuesto of presupuestos">
                                <td> </td>
                                <td>{{presupuesto.it}}</td>
                                <td>{{((totalGasto2[0] + totalGasto2[1] + totalGasto2[2])+((total/100) * (totalGasto2[0] + totalGasto2[1] + totalGasto2[2])) + (((totalGasto2[0] + totalGasto2[1] + totalGasto2[2])+(total/100) * (totalHerramienta + totalManoObra
                                    + totalMaterial)) * (presupuesto.utilidad/100))).toFixed(2)}} </td>
                                <td>{{(((totalGasto2[0] + totalGasto2[1] + totalGasto2[2])+((total/100) * (totalGasto2[0] + totalGasto2[1] + totalGasto2[2])) + (((totalGasto2[0] + totalGasto2[1] + totalGasto2[2])+(total/100) * (totalHerramienta + totalManoObra
                                    + totalMaterial)) * (presupuesto.utilidad/100))) * (presupuesto.it/100)).toFixed(2)}}</td>
                            </tr>
                            <tr *ngFor="let presupuesto of presupuestos">

                                <td> TOTAL PRECIO UNITARIO </td>
                                <td></td>
                                <td></td>
                                <td> {{((totalGasto2[0] + totalGasto2[1] + totalGasto2[2])+((total/100) * (totalGasto2[0] + totalGasto2[1] + totalGasto2[2])) + (((totalGasto2[0] + totalGasto2[1] + totalGasto2[2])+(total/100) * (totalHerramienta + totalManoObra
                                    + totalMaterial)) * (presupuesto.utilidad/100))+((totalGasto2[0] + totalGasto2[1] + totalGasto2[2])+((total/100) * (totalGasto2[0] + totalGasto2[1] + totalGasto2[2])) + (((totalGasto2[0] + totalGasto2[1] + totalGasto2[2])+(total/100)
                                    * (totalGasto2[0] + totalGasto2[1] + totalGasto2[2])) * (presupuesto.utilidad/100))) * (presupuesto.it/100)).toFixed(2)}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>